.modal_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4EEFF;
    border: 2px solid #521262;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
    height: 20vh;
    flex-direction: column;

}
p{
    font-size: 20px;
    text-shadow:1px 2px 3px #521262 ;
}
button{
    margin-bottom: 25px;
padding-left: 15px;
}