form {
    display: flex;
    flex-direction: column;
    gap: 3vmin;
}

form input,
form select {
    padding: 1.5vmin;
    border-radius: 1vmin;
    border-width: 1px;
}

form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

form input[type="submit"] {
    border: 0;
    background-color: #7f7f7f;
    color: white;
    cursor: pointer;
}

form div {
    display: flex;
    gap: 1vmin;
}
form .separator {
    margin: 0 15px;
    border-right: 1px solid #c3c3c3;
    height: 51px;
}