/* 
.formStlye{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
}
.inpCheck{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: ;
    padding: 8px;
    justify-content: space-between;
}
.inputTask{
    width: 350px;
    border-radius: 5px;
    height: 30px;
    border: none;
}
.check-box{
    height: 17px;
    border-radius: 5px;
    padding-top: 3px;
    color: #FFF;
    font-size: 20px;
}
.check-box label{
}

.NameSelect{
    display: flex;
    padding: 8px;
    width: 235px;
    margin-left:220px ;
    justify-content: space-evenly;
}
.NameSelect label{
    padding: 5px;
    border-radius: 5px;
    color: rgb(236, 219, 219);
    font-size: 17px;
    margin-right: 10px;
}
.NameSelect select{
    width: 90px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ffffff;

    
}
.separator{
    display: flex;
    justify-content: flex-end;
    width: 97.5%;
    
}
.separator input{
    font-size: 15px;
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color : #A1B57D;
    color: #000000;

} */