.List {
  padding: 5px 10px;
  list-style: none;
  width: 35rem;
  top: 10rem;
  right: 25rem;
  border-radius: 10px;
}
div ul li {
  display: flex;
  background-color: #2d4263f6;
  margin-top: 8px;
  justify-content: space-between;
  padding: 10px;
  color: aliceblue;
  border: 3px solid #2d4263f6;
  border-left-color: #18b420;
}
div ul li button {
  background-color: #c84b31;
  border: none;
  color: #ffff;
  border-radius: 3px;
}
div ul li button[disabled] {
  text-decoration: line-through;
  cursor: not-allowed;
}
.List .urgent {
  border: 3px solid #2d4263f6;
  border-left-color: #ff0000;
}
