.items-list {
    padding: 0px;
}

.items-list ul {
    padding: 0;
    margin: 0;
}

.items-list .item {
    list-style-type: none;
    background-color: #e3e3e3;
    margin-bottom: 4px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-left: 6px solid #a3d31d;
    border-radius: 5px;
}

.items-list .item .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items-list .item .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items-list .item h2 {
    font-size: 16px;
    color: #444;
    margin: 0;
    margin-bottom: 3px;
}

.items-list .item span {
    font-size: 13px;
    color: #888;
}

.items-list .item.urgent {
    border-left-color: #f41a1a;
}

.items-list .item .actions {
    display: flex;
    flex-direction: row;
}

.items-list .item .actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
}

.items-list .item .actions button:not([disabled]):hover {
    opacity: 0.8;
}

.items-list .item .actions button:not([disabled]):active {
    position: relative;
    right: -1px;
    bottom: -1px;
}

.items-list .item .actions button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}