.view-items {
  margin-top: 20px;
}
.view-items .clock {
  margin-bottom: 10px;
}
.view-items h1 {
  font-size: 20px;
}

.cont {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 22%;
  left: 20%;
  border: 1px solid black;
  height: 30%;
  width: 60%;
  border-radius: 10px;
}

.confirm {
  display: flex;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  border-radius: 10px;
}

.confirm button {
  width: 20%;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}