.items_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

}
.items_list h1{
    color: red;
}
ol {
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
    margin-left: -40px;
    width: 100%;
}

.licenter
{
    display: flex;
    
    justify-content: center;
    align-items:flex-start;
    justify-items: start;
    width: 100%;
}
ol li {
    display: block;
    position: relative;
    margin: 5px;
    width: 80%;
}

ol li span {
    margin-left: 40px;
    padding: 10px;
    border-radius: 30px;
    background-color: cadetblue;
}

ol li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: #555221;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    background: #c29115;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 2em;
    font-weight: 700;
}