.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 calc((100% - 70vw) / 2);
  background-color: #3498DB;
  box-sizing: border-box;
  align-items: center;
}

.header h1 {
  font-weight: bold;
  color: #121212;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.header nav a {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #2C3E50;
  font-weight: 600;
  outline: 0;
  margin: 0 5px;
  padding: 7px 14px;
  border-radius: 5px;
  text-decoration: none;
}

.header nav a.active {
  background-color: #F1C40F;
}

.header nav a:hover {
  text-shadow: 1px 1px #aaa;
}

.header nav a:active {
  color: #333;
}