.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: rgb(240, 230, 217);
    flex-direction: column;

}
.header div > button {
    background-color: none;
    border-radius: 4px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
