.form input,
.form select {
  padding: 10px;
  margin: 10px;
  outline: none;
  border: 3px solid;
  transition: 0.5s;
  border-color: transparent transparent rgb(157, 217, 154) transparent;
}
.form form {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.form form *:focus {
  border-radius: 15px;
  border: 3px solid rgb(157, 217, 154);
}
.form input[type="checkbox"] {
  accent-color: rgb(157, 217, 154);
}
.form input[type="submit"] {
  border: none;
  border-radius: 15px;
  color: rgb(157, 217, 154);
  background-color: rgb(0, 46, 59);
  font-weight: bolder;
  transition: 0.7s;
  cursor: pointer;
  width: 50%;
}
.form input[type="submit"]:hover {
  background-color: rgb(157, 217, 154);
  color: rgb(0, 46, 59);
}
