.form input,
select {
    padding: 10px 65px;
    ;
    margin: 10px;
}

.form input {
    padding: 10px;
    ;
    margin: 10px;
}

.chBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#submit {
    padding: 10px 65px;
}