form{
    display: flex;
    align-items: center;
    justify-content: center;
}

form input,
form select{
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}
.submit{
    background-color: #333;
    color: #fff;
}